<h2 class="text-center"><%= t("link_device.edit") %></h2>

<div class="row">
  <div class="col-4 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
      data: { turbo: false }, html: { method: :put }) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="input-group my-3">
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
        <%= f.email_field :email, class: "form-control", placeholder: "Email",
          autofocus: true, autocomplete: "email" %>
      </div>

       <div class="input-group my-3">
        <span class="input-group-text"><i class="bi bi-file-lock"></i></span>
        <%= f.password_field :password, class: "form-control", placeholder: t("link_device.password"),
          autocomplete: "new-password" %>
      </div>

      <div class="input-group my-3">
        <span class="input-group-text"><i class="bi bi-file-lock"></i></span>
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: t("link_device.password again"), autocomplete: "new-password" %>
      </div>

      <div class="input-group my-3">
        <span class="input-group-text"><i class="bi bi-file-lock"></i></span>
        <%= f.password_field :current_password, class: "form-control",
          placeholder: t("link_device.current_password"), autocomplete: "new-password" %>
      </div>

      <div class="actions mb-2">
        <%= f.submit t("link_device.update"), class: "btn btn-primary" %>
        <span class="actions ms-2" ><%= link_to t("link_device.return"), :back %></span>
      </div>

    <% end %>

    <div class="actions mb-2"> 
      <%= button_to t("link_device.delete_account"), registration_path(resource_name), form: {
      data: { turbo_confirm: t("link_device.destroy_account") }}, method: :delete, class: "btn btn-danger" %>
    </div>

  </div> 
</div>
