<h2 class="text-center mt-2">Забыли пароль?</h2>

<div class="row">
  <div class="col-4 mx-auto">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: {turbo: false}, html: { method: :post }) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="input-group my-3">
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
        <%= f.email_field :email, class: "form-control", placeholder: "Email",
          autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Прислать инструкцию для сброса пароля", class: "btn btn-primary" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div> 
</div>
