<%= form_for [@event, photo], html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class="form-group">
    <div class="mb-2">
      <%= f.label :photo %>
    </div>
    <%= f.file_field :photo %>
  </div>

  <div class="actions mt-3">
    <%= f.submit t("views.download"), class: 'btn btn-primary' %>
  </div>
<% end %>
