<h1><%= t '.title' %></h1>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <%= @comment.user_name %></p>

<hr/>

<p><%= t('event_mailer.comment.event') %>:  <%= link_to @event.title, event_url(@event) %></p>
<p><%= t '.datetime' %>: <%= l @event.datetime %></p>
<p><%= t '.owner' %>: <%= @event.user.name %></p>
