<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">

            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to t('app.profile'), current_user, class: "nav-link" %></li>
              <li class="nav-item"><%= button_to t('app.log_off'), destroy_user_session_path, method: :delete, class: "nav-link btn" %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('app.come'), new_user_session_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to t('app.register'), new_user_registration_path, class: "nav-link" %></li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>

    <div class="container mt-3">
      <% if flash[:notice].present? %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p class="alert alert-danger"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>

    <footer class="p-4 mt-auto bg-light text-center text-black">
      <p class="mb-0">&copy; <%= t('app.company') %> 2023</p>
    </footer>
  </body>
</html>
